<%= simple_form_for(@user_category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @user_category.errors.any? %>
    <ul>
      <% @user_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>


    <div class="form-inputs">
       <%= f.simple_fields_for(:user_categories) do |uc| %>
          <p id="max-error">You cannot select more than 3 of your interests, sorry!</p>
          <p id="min-error"> <%= @message%> </p>
          <%=  uc.input :category, as: :check_boxes, label: "What is your vibe for the weekend, #{current_user.first_name}?", collection: Category.all , input_html: {multiple: true, required: true} %>
       <% end %>
    </div>

  <div class="form-inputs">
    <label for="SelectDay">What day are you looking to Shabbotize this weekend?</label>
    <form class= "SelectDay" action="SelectDay">
      <select name="Days">
        <option value="Fri">ShiShi (Friday)</option>
        <option value="Sat">Shabbat (Saturday)</option>
        <option value="Both">Gam Ve Gam (Both!)</option>
      </select>
    </form>
  </div>


     <div class="form-inputs">
    <label for="Time Needed">Search for additional information</label>
    <br>
    <input class="input-mw" type="search" name="search baby" placeholder="Type some keywords!">
  </div>

   <div class="form-actions text-center">
     <%= f.button :submit,"Yalla Capara!",id: "sweet-alert-shabbo", class: "btn btn-primary" %>
   </div>
  </div>
<% end %>

<script>

const checkBoxes = document.querySelectorAll(".form-check");
  checkBoxes.forEach((checkbox) => {
    checkbox.addEventListener('click', (event) => {
    const actives = document.querySelectorAll(".active")
    console.log(actives.length)
    if (actives.length >= 3 && !event.currentTarget.classList.contains('active')) {
      document.getElementById('max-error').style.display = "inline-block"
    } else {
      event.currentTarget.classList.toggle("active");
      event.currentTarget.firstChild.checked = event.currentTarget.firstChild.checked ? false : true
    }

  });
});

const labels = document.querySelectorAll(".form-check-label")
labels.forEach((label)=> {
  label.addEventListener('click', (event) => {
    event.currentTarget.parentElement.click()
  });
});
</script>
