<%= simple_form_for(@user_category) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @user_category.errors.any? %>
    <ul>
      <% @user_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <div class="form-inputs">
    <label for="Time Needed">What day are you looking to Shabbotize this weekend?</label>
        <input type="status" name="Friday" value="Friday-ShiShi">
         <input type="status" name="Saturday" value="Saturday-Shabbat">
        <input type="status" name="Both" value="Both!">
    </div>
     <div class="form-inputs">
       <%= f.simple_fields_for(:user_categories) do |uc| %>
          <%=  uc.input :category, label: "What is your vibe for the weekend, #{current_user.first_name}?", collection: Category.all , input_html: {multiple: true} %>
       <% end %>
    </div>
     <div class="form-inputs">
    <label for="Time Needed">Search for additional information</label>
    <br>
    <input type="search" name="search baby" placeholder="Type some keywords!">
  </div>

   <div class="form-actions">
     <%= f.button :submit,"Yalla Capara!", class: "btn btn-primary" %>
   </div>
  </div>
<% end %>


