<div class="footer w-100">
  <div class="footer-links w-100 d-flex flex-row justify-content-between">
    <div class= "button-footer">
      <%= link_to activities_path do %>
    <%= image_tag "Index.svg" %>
    <%end%>
    </div>
    <div class= "button-footer">
      <%= link_to new_activity_path do %>
    <%= image_tag "AddEvent.svg" %>
    <%end%>
    </div>
    <div class= "button-footer">
    <%= link_to weekendlist_path do %>
    <%= image_tag "Weekend Icon.svg" %>
    <%end%>
    </div>
    <div class= "button-footer">
      <%= link_to profile_path do %>
    <%= image_tag "Profile.svg" %>
    <%end%>
    </div>
  </div>
</div>
