<h3>Share something with Shabbo!</h3>
<%= simple_form_for(@activity) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <% if @activity.errors.any? %>
    <ul>
      <% @activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

<div class="form-inputs">
  <%= f.input :title, label: "Title of entry", placeholder: "What do you want to share to shabbo?" %>
</div>

<div>
  <%= f.input :address, label: "Address (Doesn't have to be exact!)", placeholder: "Ex: \'32 Ben Yehuda, Tel Aviv\' or \'The TLV Boardwalk\'" %>
</div>

<div>
  <%= f.input :description, placeholder: "Describe what you are sharing" %>
</div>

<div>
  <%= f.input :url, placeholder: "If there is an URL to your event, place it here!" %>
</div>

<div>
  <%= f.input :image, label: "Upload Image" %>
  <%= f.input :image_cache, as: :hidden %>
</div>

<div>
  <%= f.input :day, collection: ["Only Friday", "Only Saturday", "Friday & Saturday"] %>
</div>

<%= f.simple_fields_for(:activity_categories) do |uc| %>
<%=  uc.input :category, label: "Select up to three categories that describe your event", collection: Category.all , input_html: {multiple: true} %>
<% end %>



<div class="form-actions-create">
  <%= f.button :submit, class: "btn btn-primary big-btn" %>
</div>

<%end%>



</div>
<div class="image">
  <%= image_tag "share.svg" %>
