<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-content-center text-center">
  <div class="index-navbar align-content-center d-flex">
    <%= link_to "#", class: "navbar-brand" do %>
      <%= image_tag "shabbo.png" %>
    <% end %>
  </div>
</div>

<!-- The VIBE -->
<div class="content mb-5">
  <div class="d-flex" style="overflow-x: scroll;">


<% @user_categories.each do |user_category|%>
  <h2><%= user_category.name %></h2>

    <% user_category.activities.each do |activity| %>
      <div class="card-trip">
        <%= link_to activity, class: "card-img" do %>
          <%= cl_image_tag activity.image, height: 90, crop: "fill" %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%=link_to activity.title, activity %></h2>
            <% activity.rating_average.to_i.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <%= activity.address%>
            </div>
          </div>
        </div>
     <% end %>
    <% end %>
  </div>
</div>

<!-- The remaining results  -->
<div class="content mb-5">
  <div class="d-flex" style="overflow-x: scroll;">


<% @remaining_categories.each do |remain_category|%>
  <h2><%= remain_category.name %></h2>

    <% remain_category.activities.each do |activity| %>
      <div class="card-trip">
        <%= link_to activity, class: "card-img" do %>
          <%= cl_image_tag activity.image, height: 100, crop: "fill" %>
        <% end %>
        <div class="card-trip-infos">
          <div>
            <h2><%=link_to activity.title, activity %></h2>
            <% activity.rating_average.to_i.times do  %>
              <i class="fas fa-star"></i>
            <% end %>
            <p class="activityaddress"><%= activity.address%></p>
            </div>
          </div>
        </div>
      <% end %>
  <% end %>
  </div>
</div>
