
<!-- The VIBE -->

<h3>Suggested for you...</h3>

<div class="content mb-5">
  <div class="d-flex" style="overflow-x: scroll;">
    <% @user_categories.each do |user_category|%>

    <% if current_user.preferred_day == "'Gam Ve Gam'-Both" %>
      <% suggested_activities = user_category.activities %>
    <% else %>
      <% suggested_activities = user_category.activities.where(day: current_user.preferred_day) %>
    <% end %>
    <% suggested_activities.each do |activity| %>
    <div class="card-trip">
      <%= link_to activity, class: "card-img" do %>
      <%= cl_image_tag activity.image, height: 100, crop: "fill" %>
      <% end %>
      <div class="card-trip-infos p-2">
        <div>
          <div class="activity-name">
            <h2><%=link_to activity.title.truncate(18,separator: " "), activity %></h2>
          </div>
          <div class="activity-day">
            <p><%=activity.day %> </p>
          </div>
          <div class="activity-stars">
            <% if activity.rating_average.to_i == 0 %>
              &nbsp;
            <% else %>
              <% activity.rating_average.to_i.times do  %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
            </div>
          <div class="activity-address">
          <%= activity.address.truncate(18,separator: " ")%>
        </div>
        </div>
      </div>
    </div>
    <% end %>
    <% end %>
  </div>
</div>

<!-- The remaining results  -->

<% @remaining_categories.each do |remain_category|%>
<% if !remain_category.activities.empty? %>
<h2><%= remain_category.name %></h2>
<div class="content mb-5">
  <div class="d-flex" style="overflow-x: scroll;">


    <% remain_category.activities.each do |activity| %>
    <div class="card-trip">
      <%= link_to activity, class: "card-img" do %>
      <%= cl_image_tag activity.image, height: 100, crop: "fill" %>
      <% end %>
      <div class="card-trip-infos p-2">
        <div>
          <div class="activity-name">
            <h2><%=link_to activity.title.truncate(18,separator: " "), activity %></h2>
          </div>
          <div class="activity-day">
            <p><%=activity.day %> </p>
          </div>
          <div class="activity-stars">
            <% if activity.rating_average.to_i == 0 %>
              &nbsp;
            <% else %>
              <% activity.rating_average.to_i.times do  %>
                <i class="fas fa-star"></i>
              <% end %>
            <% end %>
          </div>
          <div class="activity-address">
          <%= activity.address.truncate(18,separator: " ")%>
        </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
<% end %>
<% end %>

