<%= cl_image_tag @activity.image, crop: :fill, height: 375, width: 355, class: "show-img" %>
<h1 class="show-title text-center">  <%= @activity.title %> </h1>
<%= link_to 'Add to my Weekend', activity_bookings_path(@activity), method: :post, class: "btn-primary", id: "bookbtn"%>
<div class="extra-info ml-2">
<p> <strong>Shared by:</strong> <%= link_to @activity.user.username, profile_path(@activity.user) %></p>
<div class="days-show">
  <p> <strong>Day(s) of activity:</strong> <%=@activity.day %> </p>
</div>
<div class="address-show">
  <p> <strong>Address or Location:</strong> <%=@activity.address %> </p>
<div class="average-evaluation d-flex">
  <p> <strong> Average Rating:</strong>&nbsp;</p>
  <div class="show-stars">
  <% @activity.rating_average.to_i.times do  %>
    <i class="fas fa-star"></i>
  <% end %>
</div>
</div>
</div>
<h2 class="show-titles"> Categorie(s) </h2>
<div class= "d-flex mt-2 justify-content-around user-categories-tag">
  <div class="activity-categories d-flex">
    <% if @activity.categories.count ==1 %>
    <% ActivityCategory.where(activity: @activity).each do |uc| %>
    <p class="profile-category one-category mr-1 ml-1"><%= uc.category.name.truncate(17) %></p>
    <% end %>
    <% elsif @activity.categories.count == 2 %>
    <div class="two-category d-flex">
    <% ActivityCategory.where(activity: @activity).each do |uc| %>
    <p class="profile-category mr-1 ml-1"><%= uc.category.name.truncate(17) %></p>
    <% end %>
    </div>
    <% else %>
    <% ActivityCategory.where(activity: @activity).each do |uc| %>
    <p class="profile-category three-category mr-1 ml-1"><%= uc.category.name.truncate(17) %></p>
    <% end %>
    <% end %>
  </div>
</div>
<h2 class="show-titles"> About </h2>
<div class="description-show">
<%=@activity.description %>
</div>
<br>
<br>
<br>
<div class="d-flex align-items-baseline">
  <h2 class="show-titles"> Reviews </h2> &nbsp;&nbsp; <p>(<%= link_to 'Review this!', new_activity_review_path(@activity), id: "review-btn"%>)</p>
</div>
<div class="reviews d-flex align-items-baseline justify-content-center">
  <div class="review-cont">
    <% @activity.reviews.each do |review| %>
    <div class="review-card">
      <div class="review-card-top flex-column mb-0">
        <p class="text-left"> <%= cl_image_tag review.user.avatar, class: "review-avatar" %> </p>
        <div class=" justify-content-between">
          <div class ="review-name">
            <p class="text-left"> by <%= review.user.first_name %> </p>
          </div>
          <p class="text-left"> <strong><%= review.title %></strong>  </p>
        </div>
        <p>Rating:</p>
        <div class="rating-stars d-flex">
          <% @activity.rating_average.to_i.times do  %>
          <i class="fas fa-star"></i>
          <% end %>
        </div>
      </div>
      <div class="review-card-bottom">
        <p>Description:</p>
        <div class= "review-text">
          <p class="text-left"> <%= review.description %> </p>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
<br>
<br>
<br>
