<div class="navbar navbar-expand-sm navbar-light navbar-lewagon align-content-center text-center">
  <div class="index-navbar align-content-center d-flex">
    <%= link_to "#", class: "navbar-brand" do %>
    <%= image_tag "shabbo.png" %>
    <% end %>
  </div>
</div>
<%= cl_image_tag @activity.image, class: "show-img" %>
<%= link_to 'Book Now', activity_bookings_path(@activity), method: :post, class: "btn-primary", id: "bookbtn"%>

<h2> About </h2>
<%=@activity.description %>
<br>
<br>
<br>
<h2> Reviews </h2>
<div class="reviews d-flex align-items-baseline justify-content-center">
  <div class="review-cont">
    <% @activity.reviews.each do |review| %>
    <div class="review-card">
      <div class="review-card-top d-flex flex-column mb-0">
          <p class="text-left"> <%= cl_image_tag review.user.avatar, class: "review-avatar" %> </p>
        <div class="d-flex justify-content-between">
        <p class="text-left"> <strong><%= review.title %></strong>  </p>
        </div>
        <div class="text-left">
          <%= @activity.address %>
        </div>
      </div>
      <div class="review-card-bottom">
        <p class="text-left"> <%= review.description %> </p>

      </div>
    </div>
    <% end %>
  </div>
</div>
</div>
</div>
<%= link_to new_activity_review_path(@activity) do %>
<p class="btn btn-primary text-right">Add review</p>
<%end%>
<br>
<br>
<br>
