<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title><%= meta_title %></title>
    <meta name="description" content="<%= meta_description %>">
    <!-- Facebook Open Graph data -->
    <meta property="og:title" content="<%= meta_title %>" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="<%= request.original_url %>" />
    <meta property="og:image" content="<%= meta_image %>" />
    <meta property="og:image:width" content="1200"/>
    <meta property="og:image:height" content="630"/>
        <meta property="og:description" content="<%= meta_description %>" />
    <meta property="og:site_name" content="<%= meta_title %>" />
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link href="https://fonts.googleapis.com/css?family=Cabin|Lobster&display=swap" rel="stylesheet">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_pack_tag 'application', media: 'all' %> <!-- Uncomment if you import CSS in app/javascript/packs/application.js -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable"  content="yes">
    <link rel="manifest" href="<%= asset_path 'manifest.json' %>">
    <%= render 'shared/ios_pwa_links' %>
    <%= favicon_link_tag asset_path('apple-icon.png') %>
  </head>

  <body>

    <% unless current_page?("/users/sign_in") || current_page?(root_path) ||current_page?("/users/sign_up") || current_page?("/user_categories/new") %>
    <%= render 'shared/navbar' %>
    <% end %>


    <% unless current_page?(root_path) || current_page?("/users/sign_in") || current_page?("/users/sign_up") || current_page?("/user_categories/new") %>
        <body>
     <% else %>
        <body style="margin: 0 !important">
    <% end %>
      <%= render 'shared/navbar' unless current_page?(root_path) || current_page?("/users/sign_in") || current_page?("/users/sign_up") || current_page?("/user_categories/new")%>
      <%= render 'shared/flashes' %>
      <% unless current_page?(root_path)|| current_page?("/users/sign_in") || current_page?("/users/sign_up") || current_page?("/user_categories/new") %>
      <div class="yield-container">
      <% end %>

        <%= yield %>

      </div>
    <%= render 'shared/footer' unless current_page?(root_path) || current_page?("/users/sign_in") || current_page?("/users/sign_up") || current_page?("/user_categories/new") %>

    <%= javascript_include_tag 'application' %>
    <%= javascript_pack_tag 'application' %>
  </body>
</html>
